{{ 'component-contact.css' | asset_url | stylesheet_tag }}

<div class="c-contact" style="background-color: {{ section.settings.bg_color }};">
  <div class="c-contact__inner wrapper common__inner">
    <div class="c-contact__list">
      {% for block in section.blocks %}
        {% case block.type %}
        {% when condition %}
          {% when "tel" %}
          <div class="c-contact__item">
            <div class="c-contact__textbox"><span class="c-contact__text c-contact__text--tel"><span class="c-contact__icon"><img src="{{ "contact-icon-tel.svg" | asset_url }}" alt="TELLのアイコン"></span>電話で問い合わせる</span></div>
            <div class="c-contact__main c-contact-tel">
                <span class="c-contact__tel"><a href="tel:0569-43-5558">0569-43-5558</a></span>
                <span class="c-contact__tel-desc">平日11:00~20:00　土日10:00~20:00</span>
            </div>
          </div>
          {% when "line" %}
          <div class="c-contact__item">
            <div class="c-contact__textbox"><span class="c-contact__text c-contact__text--line"><span class="c-contact__icon"><img src="{{ "contact-icon-line.svg" | asset_url }}" alt="LINEのアイコン"></span>LINEで問い合わせる</span></div>
            <div class="c-contact__main c-contact-main">
              <a class="c-contact-main__link c-contact-main__link--line" href="https://page.line.me/731qtpzw?openQrModal=true" target="_blank">LINEで問い合わせる ＞</a>
            </div>
          </div>
          {% when "insta" %}
          <div class="c-contact__item">
            <div class="c-contact__textbox"><span class="c-contact__text c-contact__text--instagram"><span class="c-contact__icon"><img src="{{ "contact-icon-instagram.svg" | asset_url }}" alt="INSTAGRAMのアイコン"></span>Instagramで問い合わせる</span></div>
            <div class="c-contact__main c-contact-main">
              <a class="c-contact-main__link c-contact-main__link--instagram" href="https://www.instagram.com/baseballshopworld/?hl=ja" target="_blank"><span>Instagramで問い合わせる ＞</span></a>
            </div>
          </div>
          {% when "mail" %}
          <div class="c-contact__item">
            <div class="c-contact__textbox"><span class="c-contact__text c-contact__text--mail"><span class="c-contact__icon"><img src="{{ "contact-icon-mail.svg" | asset_url }}" alt="メールのアイコン"></span>メールで問い合わせる</span></div>
            <div class="c-contact__main c-contact-main">
              <span class="c-contact-main__text">world89_net@yahoo.co.jp</span>
            </div>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
</style>

{% schema %}
{
  "name": "お問い合わせ",
  "class":"l-component",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "カスタムLiquid",
      "info": "アプリのスニペットや他のリキッドコードを追加して、高度なカスタマイズを行うことができます"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景の色",
      "default": "#fafafa"
    }
  ],
  "blocks": [
    {
      "type":"insta",
      "name":"インスタグラム"
    },
    {
      "type":"line",
      "name":"LINE"
    },
    {
      "type":"tel",
      "name":"電話"
    },
    {
      "type":"mail",
      "name":"メール"
    }
  ],
  "presets": [
    {
      "name": "お問い合わせ",
      "category": "テキスト"
    }
  ]
}
{% endschema %}
