<!-- /sections/contact-form.liquid -->

<section class="index-contact {{ section.settings.text_color }} {{ section.settings.height }}" style="background-color: {{ section.settings.bg_color }};" data-section-id="{{ section.id }}" data-section-type="contact">
  <div class="{{ section.settings.width }}">
    {%- if section.settings.title != blank -%}
      <h2 class="contact__form__heading">{{ section.settings.title }}</h2>
    {%- endif -%}

    {% form 'contact', id: 'contact-us-page' %}
      {% if form.posted_successfully? %}
        <p class="form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}

      {{ form.errors | default_errors }}

      {% for block in section.blocks %}
        {%- assign required = '' -%}
        {%- if block.settings.required -%}
            {%- assign required = 'required' -%}
        {%- endif -%}

        {% case block.type %}

          {% when 'email' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">{{ block.settings.title }}</label>
              <input type="email" class="contactFormEmail" id="Form-{{ section.id }}-{{ forloop.index0 }}" name="contact[email]" placeholder="{{ block.settings.title }}" autocorrect="off" autocapitalize="off" {{ required }}/>
            </div>

          {% when 'body' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">{{ block.settings.title }}</label>
              <textarea rows="10" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="contactFormMessage" name="contact[body]" placeholder="{{ block.settings.title }}" {{ required }}></textarea>
            </div>

          {% when 'text' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">{{ block.settings.title }}</label>
              <input type="text" class="contactFormText" id="Form-{{ section.id }}-{{ forloop.index0 }}" name="contact[{{ block.settings.title | handleize | default: 'text' }}]" placeholder="{{ block.settings.title }}" autocapitalize="words" value="" {{ required }}/>
            </div>

          {% when 'textarea' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">{{ block.settings.title }}</label>
              <textarea rows="10" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="contactFormMessage" name="contact[{{ block.settings.title | handleize | default: 'textarea' }}]" placeholder="{{ block.settings.title }}" {{ required }}></textarea>
            </div>

          {% when 'telephone' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">{{ block.settings.title }}</label>
              <input type="tel" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="contactFormPhone" name="contact[telephone]" placeholder="{{ block.settings.title }}" value="" {{ required }}/>
            </div>

          {% when 'name' %}
            <div class="custom-form__block form-field" {{ block.shopify_attributes }}>
              <label  for="Form-{{ section.id }}-{{ forloop.index0 }}" class="label--hidden">{{ block.settings.title }}</label>
              <input type="text" class="contactFormText" id="Form-{{ section.id }}-{{ forloop.index0 }}" name="contact[{{ block.settings.title | handleize | default: 'name' }}]" placeholder="{{ block.settings.title }}" autocapitalize="words" value="" {{ required }}/>
            </div>

          {% when 'formHeading' %}
            <div class="custom-form__block custom-form__block--heading form-item" {{ block.shopify_attributes }}>
              <p class="strong">{{ block.settings.title }}</p>
            </div>

          {% when 'spacer' %}
            {%- assign hr_class = 'hr--clear' -%}
            {%- if block.settings.line -%}
              {%- assign hr_class = '' -%}
            {%- endif -%}
            <div class="form-item" {{ block.shopify_attributes }}>
              <hr class="{{ hr_class }}">
            </div>

          {% when 'checkbox' %}
            <div class="custom-form__block form-item" {{ block.shopify_attributes }}>
              <label for="Form-{{ section.id }}-{{ forloop.index0 }}">
                <input type="checkbox" id="Form-{{ section.id }}-{{ forloop.index0 }}" class="contactFormCheckbox" name="contact[{{ block.settings.title | handleize | default: 'checkbox' }}]" value="{{ block.settings.title }}" {{ required }}>
                {{ block.settings.title }}
              </label>
            </div>

          {% when 'radio' %}
            <fieldset class="custom-form__block custom-form__block--group form-item" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                <legend class="custom-form__label">{{ block.settings.title }}</legend>
              {% endif %}
              {% if block.settings.label-one != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-1" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-one }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-1">{{ block.settings.label-one }}</label>
                </div>
              {% endif %}
              {% if block.settings.label-two != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-2" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-two }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-2">{{ block.settings.label-two }}</label>
                </div>
              {% endif %}
              {% if block.settings.label-three != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-3" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-three }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-3">{{ block.settings.label-three }}</label>
                </div>
              {% endif %}
              {% if block.settings.label-four != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-4" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-four }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-4">{{ block.settings.label-four }}</label>
                </div>
              {% endif %}
              {% if block.settings.label-five != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-5" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-five }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-5">{{ block.settings.label-five }}</label>
                </div>
              {% endif %}
              {% if block.settings.label-six != blank %}
                <div>
                  <input type="radio" id="Form-{{ section.id }}-{{ forloop.index0 }}-6" class="contactFormRadio" name="contact[{{ block.settings.title | handleize | default: 'radio' }}]" value="{{ block.settings.label-six }}" {{ required }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}-6">{{ block.settings.label-six }}</label>
                </div>
              {% endif %}
            </fieldset>

          {% when 'select' %}
            <fieldset class="custom-form__block custom-form__block--group form-item" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                <label for="Form-{{ section.id }}-{{ forloop.index0 }}" class="custom-form__label label--block">{{ block.settings.title }}</label>
              {% endif %}
              <select id="Form-{{ section.id }}-{{ forloop.index0 }}" class="contactFormSelect" name="contact[{{ block.settings.title | handleize | default: 'select' }}]">
                {% if block.settings.label-one != blank %}
                  <option value="{{ block.settings.label-one }}">{{ block.settings.label-one }}</option>
                {% endif %}
                {% if block.settings.label-two != blank %}
                  <option value="{{ block.settings.label-two }}">{{ block.settings.label-two }}</option>
                {% endif %}
                {% if block.settings.label-three != blank %}
                  <option value="{{ block.settings.label-three }}">{{ block.settings.label-three }}</option>
                {% endif %}
                {% if block.settings.label-four != blank %}
                  <option value="{{ block.settings.label-four }}">{{ block.settings.label-four }}</option>
                {% endif %}
                {% if block.settings.label-five != blank %}
                  <option value="{{ block.settings.label-five }}">{{ block.settings.label-five }}</option>
                {% endif %}
                {% if block.settings.label-six != blank %}
                  <option value="{{ block.settings.label-six }}">{{ block.settings.label-six }}</option>
                {% endif %}

              </select>
            </fieldset>
          {% else %}
        {% endcase %}

      {% endfor %}

      {% assign types = '' %}
      {% for block in section.blocks %}
        {% assign types = types | append: block.type %}
      {% endfor %}

      {% unless types contains "email" %}
      <div class="custom-form__block form-field">
        <label for="contactFormEmail">{{ 'contact.form.email' | t }}</label>
        <input type="email" id="contactFormEmail" class="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" required>
      </div>
      {% endunless  %}

      {% unless types contains "body" %}
      <div class="custom-form__block form-field">
        <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
        <textarea rows="10" id="ContactFormMessage" class="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}"></textarea>
      </div>
      {% endunless  %}

      <div class="form-item">
        <input type="submit" class="btn btn--large btn--full" value="{{ 'contact.form.send' | t }}">
      </div>

      {% if section.settings.terms %}
        <div class="form-item form__legal">
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        </div>
      {% endif %}

    {% endform %}
  </div>
</section>

{% schema %}
  {
    "name": "コンタクトフォーム",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "見出し",
        "default": "お問い合わせをする"
      },
      {
        "type": "checkbox",
        "id": "terms",
        "label": "reCAPTCHAを表示する",
        "default": true,
        "info": "オンラインショップの設定で迷惑メール対策が有効になっている場合に推奨されます"
      },
      {
        "type": "header",
        "content": "スタイル"
      },
      {
        "type": "select",
        "id": "height",
        "label": "高さ",
        "default": "margin--medium",
        "options": [
          {"value": "margin--small", "label": "スモール"},
          {"value": "margin--medium", "label": "ミディアム"},
          {"value": "margin--large", "label": "ラージ"}
        ]
      },
      {
        "type": "select",
        "id": "width",
        "label": "幅",
        "default": "wrapper--narrow",
        "options": [
          {"value": "wrapper", "label": "ノーマル"},
          {"value": "wrapper--narrow", "label": "狭い"},
          {"value": "wrapper--full", "label": "広い"}
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "文字の色",
        "default": "text-dark",
        "options": [
          { "value": "text-light", "label": "白"},
          { "value": "text-dark", "label": "ダーク"}
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "背景色",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "email",
        "name": "Email",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "Email"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": true
          }
        ]
      },
      {
        "type": "body",
        "name": "メッセージ",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "ラベル",
            "default": "メッセージ"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": true
          }
        ]
      },
      {
        "type": "text",
        "name": "テキスト",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "フルネーム",
            "info": "Example: 山田 太郎"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": false
          }
        ]
      },
      {
        "type": "textarea",
        "name": "Text area",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "ラベル",
            "default": "Enter your message",
            "info": "Example: Enter your message"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": false
          }
        ]
      },
      {
        "type": "telephone",
        "name": "Telephone",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "Phone Number",
            "info": "Example: Phone Number"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": false
          }
        ]
      },
      {
        "type": "formHeading",
        "name": "見出し",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "見出し",
            "default": "Heading",
            "info": "Use to break up longer forms"
          }
        ]
      },
      {
        "type": "spacer",
        "name": "スペーサー",
        "settings": [
          {
            "type": "checkbox",
            "id": "line",
            "label": "ラインを表示する",
            "default": false
          }
        ]
      },
      {
        "type": "checkbox",
        "name": "Single checkbox",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "オプションをチェックする",
            "info": "例: ニュースレターを購読する"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": false
          }
        ]
      },
      {
        "type": "select",
        "name": "Select dropdown",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "見出し",
            "default": "Select an option",
            "info": "Example: Choose a delivery location"
          },
          {
            "type": "header",
            "content": "最大6つのオプションが含まれます",
            "info":  "Options with blank text will not appear."
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション1",
            "label": "オプション1"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション2",
            "label": "オプション2"
          },
          {
            "type": "text",
            "id": "label-three",
            "default": "オプション3",
            "label": "オプション3"
          },
          {
            "type": "text",
            "id": "label-four",
            "default": "オプション4",
            "label": "オプション4"
          },
          {
            "type": "text",
            "id": "label-five",
            "default": "オプション5",
            "label": "オプション5"
          },
          {
            "type": "text",
            "id": "label-six",
            "default": "オプション6",
            "label": "オプション6"
          }
        ]
      },
      {
        "type": "radio",
        "name": "ラジオボタン",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "見出し",
            "default": "Pick an option"
          },
          {
            "type": "checkbox",
            "id": "required",
            "label": "必須にする",
            "default": false
          },
          {
            "type": "header",
            "content": "最大6つのオプションが含まれます",
            "info":  "オプションのテキストを空白にして、除外する"
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション1",
            "label": "オプション1"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション2",
            "label": "オプション2"
          },
          {
            "type": "text",
            "id": "label-three",
            "label": "オプション3"
          },
          {
            "type": "text",
            "id": "label-four",
            "label": "オプション4"
          },
          {
            "type": "text",
            "id": "label-five",
            "label": "オプション5"
          },
          {
            "type": "text",
            "id": "label-six",
            "label": "オプション6"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "コンタクトフォーム",
        "blocks": [
          {
            "type": "text",
            "settings": {
              "title": "Full Name"
            }
          },
          {
            "type": "email",
            "settings": {
              "title": "Email"
            }
          },
          {
            "type": "body",
            "settings": {
              "title": "Message"
            }
          },
          {
            "type": "formHeading",
            "settings": {
              "title": "Optional:"
            }
          },
          {
            "type": "checkbox",
            "settings": {
              "title": "This is urgent"
            }
          },
          {
            "type": "select",
            "settings": {
              "title": "Select an option",
              "label-one": "- Pick an option -",
              "label-two": "Option one",
              "label-three": "Option two",
              "label-four": "Option three",
              "label-five": "Option four",
              "label-six": "Option five"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
