<!-- /sections/list-collections.liquid -->

{% liquid

  assign mobile_class = 'small--one-whole'
  if section.settings.layout_mobile == '2'
  assign mobile_class = 'small--one-half'
  endif

  case section.settings.grid
    when 1
      assign grid_strings = 'large-up--one-half medium--one-half ' | append: mobile_class
    when 2
      assign grid_strings = 'large-up--one-half medium--one-half ' | append: mobile_class
    when 3
      assign grid_strings = 'large-up--one-third medium--one-third ' | append: mobile_class
    when 4
      assign grid_strings = 'large-up--one-quarter medium--one-half ' | append: mobile_class
    when 5
      assign grid_strings = 'large-up--one-fifth medium--one-third ' | append: mobile_class
    else
      assign grid_strings = 'large-up--one-sixth medium--one-third ' | append: mobile_class
  endcase

  assign limit = section.settings.grid | times: section.settings.rows
  assign heading = section.settings.title
%}

<div class="index-list-collections" data-section-id="{{ section.id }}" data-section-type="list-collections">
  {%- if heading != blank -%}
  <h2 class="grid__heading">{{ heading }}</h2>
  {%- endif -%}

  <div class="container">
    <div class="collection-list">
      {%- if section.settings.display_type == 'all' -%}
        {%- for collection in collections -%}
          {% if collection.handle != 'frontpage' and collection.products.size > 0 %}
            <div class="collection-block__wrapper collection-block__wrapper--{{ collection.handle }}">
              {%- render 'collection-block', section: section, collection: collection, block: block, grid_strings: grid_strings, limit: limit -%}
            </div>
          {% endif %}
        {%- endfor -%}
      {%- else -%}
        {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}

          <div class="collection-block__wrapper collection-block__wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
            {%- render 'collection-block', section: section, collection: collection, block: block, grid_strings: grid_strings, limit: limit -%}
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "商品一覧",
  "settings": [
    {
      "type": "paragraph",
      "content": "デフォルトでは、すべてのコレクションが表示されます。リストをカスタマイズするには、「選択済み」を選択し、コレクションを追加してください。"
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": "表示するコレクションを選択する",
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": "全て"
        },
        {
          "value": "selected",
          "label": "選択する"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "コレクション"
    },
    {
      "type": "header",
      "content": "商品グリッド"
    },
    {
      "type":    "range",
      "id":      "grid",
      "min":     1,
      "max":     6,
      "step":    1,
      "label":   "1行あたりの商品数",
      "default": 4
    },
    {
      "type":    "range",
      "id":      "rows",
      "min":     1,
      "max":     8,
      "step":    1,
      "label":   "行数",
      "default": 1
    },
    {
      "type": "header",
      "content": "モバイル"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "レイアウト",
      "options": [
        {
          "value": "1",
          "label": "1商品（1行）"
        },
        {
          "value": "2",
          "label": "2商品（1行）"
        },
        {
          "value": "carousel",
          "label": "カルーセル"
        }
      ],
      "default": "carousel"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "コレクション",
      "settings": [
        {
          "label": "コレクション",
          "id": "collection",
          "type": "collection"
        },
        {
          "label": "コレクションの名前",
          "id": "collection_name",
          "type": "text",
          "info": "コレクション名をカスタムテキストに置き換える"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像",
          "info": "コレクション画像をカスタム画像に置き換える"
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": "位置",
          "default": "center-center",
          "options": [
            { "label": "上", "value": "center-top" },
            { "label": "右", "value": "right-center" },
            { "label": "中央", "value": "center-center" },
            { "label": "左", "value": "left-center" },
            { "label": "下", "value": "center-bottom" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
