<!-- /sections/popups.liquid -->

{%- if section.blocks.size > 0 -%}
  <div data-section-id="{{ section.id }}" data-section-type="popups">
    {%- for block in section.blocks -%}
      {%- assign classes = '' -%}

      {%- if block.type == 'text' or block.type == 'cookie' -%}
        {%- assign classes = 'popup-cookies ' | append: block.settings.position -%}
      {%- endif -%}

      {%- if block.settings.target_device_enabled -%}
        {%- if block.settings.target_device == 'mobile' -%}
          {%- assign classes = classes | append: ' mobile' -%}
        {%- endif -%}

        {%- if block.settings.target_device == 'desktop' -%}
          {%- assign classes = classes | append: ' desktop' -%}
        {%- endif -%}
      {%- endif -%}

      {%- assign show_popup = true -%}

      {%- if block.settings.target_url_enabled or block.settings.target_referrer_enabled -%}
        {%- assign show_popup = false -%}
      {%- endif -%}

      {%- if block.settings.target_url_enabled and block.settings.target_url != blank -%}
        {%- if block.settings.target_url == request.path -%}
          {%- assign show_popup = true -%}
        {%- endif -%}
      {%- endif -%}

      {%- if block.settings.target_referrer_enabled and block.settings.target_referrer != blank -%}
        {%- capture target_refferer_attribute -%}
          data-target-referrer="{{ block.settings.target_referrer }}"
        {%- endcapture -%}

        {%- assign show_popup = true -%}
      {%- endif -%}

      {%- capture block_attributes -%}
        data-block-id="{{ block.id }}"
        data-popup-delay="{{ block.settings.trigger }}"
        style="--bg: {{ block.settings.bg_color | default: '#fff' }}; --text-newsletter: {{ block.settings.text }};"
        data-enable="{{ block.settings.show_cookies_popup }}"
        data-cookie-name="{{- block.type -}}-{{- forloop.index -}}-{{- section.id -}}"
        {{ target_refferer_attribute }}
        {% if classes != '' %}
          class="{{ classes }}"
        {% endif %}
        {{ block.shopify_attributes }}
      {%- endcapture -%}

      {%- if show_popup -%}
        {%- case block.type -%}
          {%- when 'popup' -%}
            <div data-large-promo {{ block_attributes }}>
              <div data-large-promo-inner class="modal__overlay modal__overlay--newsletter modal-text--{{ block.settings.text_color }} block-scope-{{ block.id }}{% unless block.settings.newsletter_enable %} is-visible{% endunless %}">
                <section class="modal__outer">
                  <div class="modal__wrapper">
                    <div class="modal__body modal--newsletter{% if block.settings.image%} modal-wrapper--has-image{% endif %}" data-modal-body>
                      <div class="modal-section">
                        <div class="modal-wrapper modal-wrapper--reverse{% if block.settings.image == blank %} modal-wrapper--no-image{% endif %}">
                          <div class="modal__text">
                            <div class="modal__inner">
                              {%- unless block.settings.subheading == '' -%}
                                <p class="modal__subtitle">{{ block.settings.subheading | strip_html | escape }}</p>
                              {%- endunless -%}

                              {%- unless block.settings.title == '' -%}
                                <h2 class="modal__title">{{ block.settings.title | strip_html | escape }}</h2>
                              {%- endunless -%}

                              {%- unless block.settings.text == '' -%}
                                <div class="modal__description rte">{{ block.settings.text }}</div>
                              {%- endunless -%}

                              {%- if block.settings.newsletter_enable -%}
                                {%- assign button_text = block.settings.button_text -%}

                                {%- if button_text == blank -%}
                                  {%- assign button_text = 'general.newsletter_form.submit' | t -%}
                                {%- endif -%}

                                {%- assign field_id = 'email_input_modal-' | append: section.id -%}
                                {%- assign button_id = 'subscribe-modal-' | append: section.id -%}
                                {%- assign form_id = 'contact-newsletter-modal-' | append: section.id | append: forloop.index -%}

                                {%- assign button_type = block.settings.button_color -%}

                                {%- render 'newsletter-form'
                                  form_id: form_id,
                                  show_name: block.settings.enable_name,
                                  field_id: field_id,
                                  button_id: button_id,
                                  button_text: button_text,
                                  button_type: button_type,
                                  show_discount_message: true -%}
                              {%- endif -%}
                            </div>
                          </div>

                          {%- if block.settings.image -%}
                            <div class="modal__image">
                              {%- assign img_api = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                              <div class="modal__image-img lazyload"
                                data-bgset="{{ img_api }}"
                                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                data-sizes="auto">
                              </div>

                              <noscript>
                                <div class="modal__image-img no-js-image"
                                  style="background-image:url('{{ block.settings.image | img_url: '1080x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                                </div>
                              </noscript>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>

                      <button data-close-modal class="close" title="{{ 'general.accessibility.close' | t }}">
                        {%- render 'icon-close' -%}
                      </button>
                    </div>

                    <div class="modal__underlay" data-modal-underlay></div>
                  </div>
                </section>
              </div>
            </div>

          {%- when 'text' -%}
            <div data-promo-text {{ block_attributes }}>
              <div class="popup__tracking {{ block.settings.text_color }}">
                {%- if block.settings.title != blank -%}
                  <p class="popup__title">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  {{ block.settings.text }}
                {%- endif -%}

                {%- if block.settings.button_text != blank -%}
                  <a href="{{ block.settings.button_url }}" class="standard__cta {{ block.settings.button_style }} {{ block.settings.button_color }}">
                    {{ block.settings.button_text }}
                  </a>
                {%- endif -%}

                <button data-close-modal class="close" title="{{ 'general.accessibility.close' | t }}">
                  {%- render 'icon-close' -%}
                </button>
              </div>
            </div>

          {%- when 'newsletter' -%}
            <div data-newsletter {{ block_attributes }}>
              <div class="newsletter-outer">
                <div class="newsletter {{ block.settings.position }}" data-newsletter-holder>
                  {%- if block.settings.heading != blank -%}
                    <div class="newsletter__heading" data-newsletter-heading>{{ block.settings.heading }}</div>

                    {%- assign field_id = 'newsletter_input_modal-' | append: section.id -%}
                    {%- assign button_id = 'newsletter-modal-' | append: section.id -%}
                    {%- assign form_id = 'newsletter-modal-form-' | append: section.id | append: forloop.index -%}
                    {%- assign placeholder = 'general.newsletter_form.placeholder' | t -%}

                    {%- render 'newsletter-form'
                      form_id: form_id,
                      show_name: block.settings.enable_name,
                      field_id: field_id,
                      button_id: button_id,
                      show_arrow: true,
                      placeholder: placeholder,
                      show_discount_message: true,
                      success_text: block.settings.success %}

                    <button data-newsletter-close class="newsletter__close" title="{{ 'general.accessibility.close' | t }}">
                      {%- render 'icon-close' -%}
                    </button>
                  {%- endif -%}
                </div>
              </div>
            </div>

          {%- when 'cookie' -%}
            <div data-tracking-consent {{ block_attributes }}>
              {%- assign markup = 'general.cookies.cookies_link' | t -%}

              {%- if shop.privacy_policy -%}
                {%- capture markup -%}
                  <a href="{{ shop.privacy_policy.url }}">{{ 'general.cookies.cookies_link' | t }}</a>
                {%- endcapture -%}
              {%- endif -%}

              <div data-tracking-consent-inner class="popup__tracking">
                <p class="popup__title--cookies">{{- 'general.cookies.title' | t -}}</p>

                <p>{{- 'general.cookies.text_html' | t: cookies: markup -}}</p>

                <button data-confirm-cookies>{{- 'general.cookies.access' | t -}}</button>

                <button data-close-modal class="close" title="{{ 'general.accessibility.close' | t }}">
                  {%- render 'icon-close' -%}
                </button>
              </div>
            </div>
        {%- endcase -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "ポップアップ",
  "settings": [],
  "blocks" : [
    {
      "type": "popup",
      "name": "大きいポップアップ",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像",
          "info": "オプション"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "サブ見出し",
          "default": "ブロードキャスト"
        },
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "ニュースレター"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "説明",
          "default": "<p>購読すると、スペシャルオファー、無料プレゼント、一期一会のお得な情報を得ることができます。</p>"
        },
        {
          "type": "header",
          "content": "ボタン"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "テキスト",
          "default": "参加する"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "色",
          "default": "btn--neutral",
          "options": [
            {"value": "btn--primary", "label": "メインアクセント色"},
            {"value": "btn--secondary", "label": "サブアクセント色"},
            {"value": "btn--link", "label": "リンクの色"},
            {"value": "btn--neutral", "label": "文字の色"},
            {"value": "btn--black", "label": "黒色"},
            {"value": "btn--white", "label": "白色"}
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "背景色",
          "default": "#fff"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "文字の色",
          "default": "dark",
          "options": [
            { "value": "light", "label": "ライト" },
            { "value": "dark", "label": "ダーク" }
          ]
        },
        {
          "type": "header",
          "content": "ニュースレターのフォーム"
        },
        {
          "type": "checkbox",
          "id": "newsletter_enable",
          "label": "ニュースレターのフォームを有効にする",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_name",
          "label": "ネームフィールドを有効にする",
          "default": false
        },
        {
          "type": "header",
          "content": "ポップアップの動き"
        },
        {
          "type": "select",
          "id": "trigger",
          "label": "表示について",
          "default": "always",
          "options": [
            {"value": "always", "label": "すぐ表示する"},
            {"value": "delayed_10", "label": "10秒後に表示する"},
            {"value": "bottom", "label": "下にスクロールした時に表示する"},
            {"value": "idle", "label": "ユーザーが1分間アイドル状態であった場合に表示"}
          ]
        },
        {
          "type": "header",
          "content": "対象のページ"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定する"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "Targeted referrer"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス ",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "Only show on desktop"}
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text promo",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text block"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share announcements or sales.</p>"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "default": "text-dark",
          "options": [
            { "value": "text-light", "label": "White"},
            { "value": "text-dark", "label": "Dark"}
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type":"text",
          "id":"button_text",
          "label":"Text",
          "default":"Learn more"
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"Link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Color",
          "default": "btn--neutral",
          "options": [
            {"value": "btn--primary", "label": "メインアクセント色"},
            {"value": "btn--secondary", "label": "サブアクセント色"},
            {"value": "btn--link", "label": "リンクの色"},
            {"value": "btn--neutral", "label": "文字の色"},
            {"value": "btn--black", "label": "黒色"},
            {"value": "btn--white", "label": "白色"}
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "hero__btn btn btn--large btn--outline caps",
          "options": [
            {"value": "caps--large", "label": "文字のみを表示"},
            {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
            {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
            {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
            {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
          ]
        },
        {
          "type": "header",
          "content": "ポップアップの動き"
        },
        {
          "type": "select",
          "id": "position",
          "label": "位置",
          "options": [
            {
              "value": "popup-cookies--left",
              "label": "左"
            },
            {
              "value": "popup-cookies--right",
              "label": "右"
            },
            {
              "value": "popup-cookies--center",
              "label": "中央"
            }
          ]
        },
        {
          "type": "select",
          "id": "trigger",
          "label": "表示について",
          "default": "always",
          "options": [
            {"value": "always", "label": "すぐ表示する"},
            {"value": "delayed_10", "label": "10秒後に表示する"},
            {"value": "bottom", "label": "下にスクロールした時に表示する"},
            {"value": "idle", "label": "ユーザーが1分間アイドル状態であった場合に表示"}
          ]
        },
        {
          "type": "header",
          "content": "Target page"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定する"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "対象のリファラー"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "デスクトップのみ"}
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Small newsletter",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Sign up and get 10% off your first order</p>"
        },
        {
          "type": "richtext",
          "id": "success",
          "label": "Success message",
          "info": "Include your discount code and a message to be displayed."
        },
        {
          "type": "header",
          "content": "色"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "背景色",
          "default": "#B79352"
        },
        {
          "type": "color",
          "id": "text",
          "label": "文字の色",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "ポップアップの動き"
        },
        {
          "type": "select",
          "id": "position",
          "label": "位置",
          "default": "newsletter--top-right",
          "options": [
            {
              "value": "newsletter--top-left",
              "label": "上-左"
            },
            {
              "value": "newsletter--top-right",
              "label": "上-右"
            },
            {
              "value": "newsletter--bottom-left",
              "label": "下-左"
            },
            {
              "value": "newsletter--bottom-right",
              "label": "下-右"
            }
          ]
        },
        {
          "type": "select",
          "id": "trigger",
          "label": "表示について",
          "default": "always",
          "options": [
            {"value": "always", "label": "すぐ表示する"},
            {"value": "delayed_3", "label": "3秒後に表示する"},
            {"value": "delayed_10", "label": "10秒後に表示する"},
            {"value": "bottom", "label": "下にスクロールした時に表示する"},
            {"value": "idle", "label": "ユーザーが1分間アイドル状態であった場合に表示"}
          ]
        },
        {
          "type": "header",
          "content": "対象のページ"
        },
        {
          "id": "target_url_enabled",
          "type": "checkbox",
          "label": "特定のページに限定する"
        },
        {
          "id": "target_url",
          "type": "url",
          "label": "対象のページ"
        },
        {
          "type": "header",
          "content": "対象リファラー"
        },
        {
          "id": "target_referrer_enabled",
          "type": "checkbox",
          "label": "特定のリファラーパスに限定する"
        },
        {
          "id": "target_referrer",
          "type": "text",
          "label": "対象のリファラー"
        },
        {
          "type": "header",
          "content": "対象のデバイス"
        },
        {
          "id": "target_device_enabled",
          "type": "checkbox",
          "label": "デスクトップまたはモバイルに限定する"
        },
        {
          "type": "select",
          "id": "target_device",
          "label": "デバイス ",
          "default": "mobile",
          "options": [
            {"value": "mobile", "label": "モバイルのみ"},
            {"value": "desktop", "label": "デスクトップのみ"}
          ]
        }
      ]
    },
    {
      "type": "cookie",
      "name": "クッキーに同意",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "位置",
          "options": [
            {
              "value": "popup-cookies--left",
              "label": "左"
            },
            {
              "value": "popup-cookies--right",
              "label": "右"
            },
            {
              "value": "popup-cookies--bottom",
              "label": "下"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_cookies_popup",
          "label": "クッキーのポップアップを表示する",
          "info": "This feature uses the Shopify [consent tracking API](https://help.shopify.com/en/manual/your-account/privacy/cookies) and will not show in all regions.  Customer privacy tracking limits must be enabled in your [online store settings](/admin/online_store/preferences).  [Learn More](https://invisiblethemes.com/link/broadcast/docs/cookies)",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
