<!-- /sections/custom-html.liquid -->
{%- assign html = section.settings.html -%}
{%- assign title = section.settings.title -%}
{%- assign anchor_id = section.settings.anchor_id -%}

<section class="product-link wrapper" data-section-id="{{ section.id }}" data-section-type="custom-html" id="{{ anchor_id }}">
  <h3 class="product-link__title">{{ section.settings.title }}</h3>
  <div class="product-link__contents">
    <div class="product-link__image">
      <img src="{{ section.settings.image | img_url: "master" }}">
    </div>
    <div class="product-link__box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
          <p class="product-link__subtitle">{{ block.settings.sub_title }}</p>
          {%- when 'link' -%}
          <a class="product-link__link" href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
          {% endcase %}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "商品リンク集",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "タイトル"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像"
    },
    {
      "type": "text",
      "id": "anchor_id",
      "label": "アンカー用ID"
    }
  ],
  "blocks":[
    {
      "type": "title",
      "name": "見出し",
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "サブタイトル",
          "default": "見出し"
        }
      ]
    },
    {
      "type": "link",
      "name": "リンク先",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "リンクテキスト",
          "default": "テキスト"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "商品リンク集"
    }
  ]
}
{% endschema %}

<style>
.product-link{
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-link__title{
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px dotted #333;
}
.product-link__subtitle{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.product-link__link{
  padding: 10px 30px 10px 0;
  display: inline-block;
}
.product-link__image{
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  width: 250px;
  height: fit-content;
  max-width: 100%;
  margin-right: auto;
  margin-left:auto
}
.product-link__image img{
  width: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .product-link__contents{
    margin-top: 30px;
    display: flex;
  }
  .product-link__image{

  }
  .product-link__box{
    margin-left: 60px;
    width: calc(100% - (250px + 60px));
  }
}
</style>
