<!-- /sections/newsletter.liquid -->
{%- assign img_url = section.settings.bg_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign animation_anchor = '.index-newsletter--' | append: section.id -%}

{%- if section.settings.text_color == 'white' -%}
  {%- style -%}
    .index-newsletter--{{ section.id }},
    .index-newsletter--{{ section.id }} .input-group.newsletter-form input::placeholder,
    .index-newsletter--{{ section.id }} .input-group.newsletter-form input { color: #fff; }
  {%- endstyle -%}
{%- endif -%}

<div class="index-newsletter index-newsletter--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <div class="wide-image js-overflow-container {{ section.settings.height }}">
    <div class="hero__content__wrapper hero__content--transparent {{ section.settings.flex_align }}">
      <div class="hero__content hero__content--{{ section.settings.width }} js-overflow-content">
        <div class="newsletter__content">
          {%- if section.settings.title != blank or section.settings.richtext != blank -%}
            <div class="newsletter__entry">
              {%- if section.settings.title != blank -%}
                <h2 class="h5 newsletter__title"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="1">{{ section.settings.title }}</h2>
              {%- endif -%}
              {%- if section.settings.richtext != blank -%}
                <div class="rte"
                  data-aos="hero"
                  data-aos-anchor="{{ animation_anchor }}"
                  data-aos-order="2">
                  {{ section.settings.richtext }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          <div class="newsletter-signup"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="3">
            {%- assign field_id = 'email_input' | append: section.id -%}
            {%- assign button_id = 'subscribe' | append: section.id -%}
            {%- assign form_id = 'contact-newsletter-' | append: section.id -%}

            {%- render 'newsletter-form' form_id: form_id, show_name: section.settings.enable_name, field_id: field_id, button_id: button_id, button_type: section.settings.button_color -%}
          </div>
        </div>
      </div>
    </div>
    {%- if section.settings.bg_image -%}
      {%- if section.settings.height == 'image-height' -%}
        <img class="lazyload responsive-wide-image"
          alt="{{ section.settings.bg_image.alt | default: section.settings.title | strip_html | escape }}"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
          data-aspectratio="{{ section.settings.bg_image.aspect_ratio }}"
          data-parent-fit="cover"
          data-sizes="auto"/>
      {%- else -%}
        <div class="background-size-cover lazyload" style="background-position: {{ section.settings.bg_position | replace: '-', ' ' }};" data-bgset="{% render 'bgset', image: section.settings.bg_image %}"></div>
      {%- endif -%}
      <noscript>
        <img src="{{ section.settings.bg_image | img_url: '1440x' }}" alt="{{ section.settings.bg_image.alt | default: collection.title | strip_html | escape }}" class="responsive-wide-image"/>
      </noscript>
      {%- assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 -%}
      <div class="image-overlay" style="background-color:{{ section.settings.overlay_color }} !important; opacity:{{ overlay_opacity }};"></div>
    {%- endif -%}
  </div>
</div>

{%- for block in section.blocks -%}
  {%- render block -%}
{%- endfor -%}

{% schema %}
{
  "name": "ニュースレター",
  "settings": [
    {
      "type": "header",
      "content": "コンテンツ"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "ニュースレター"
    },
    {
      "id": "richtext",
      "type": "richtext",
      "label": "サブ見出し",
      "default": "<p>購読すると、スペシャルオファー、無料プレゼント、一期一会のお得な情報を得ることができます</p>"
    },
    {
      "type": "paragraph",
      "content": "購読者は、[顧客管理画面](/admin/customers)の「Accepts Marketing」の下に表示されます。"
    },
    {
      "type": "checkbox",
      "id": "enable_name",
      "label": "名前フィールドを有効にする",
      "default": false
    },

    {
      "type": "select",
      "id": "flex_align",
      "label": "位置",
      "default": "align--middle-left",
      "options": [
        { "value": "align--middle-left", "label": "左" },
        { "value": "align--middle-center", "label": "中央" },
        { "value": "align--middle-right", "label": "右" },
        { "value": "align--middle-stacked", "label": "スタック" }
      ]
    },

    {
      "type": "select",
      "id": "text_color",
      "label": "文字の色",
      "default": "dark",
      "options": [
        { "value": "dark", "label": "ダーク" },
        { "value": "white", "label": "白" }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button color",
      "default": "btn--neutral",
      "options": [
        {"value": "btn--primary", "label": "メインアクセント色"},
        {"value": "btn--secondary", "label": "サブアクセント色"},
        {"value": "btn--link", "label": "リンクの色"},
        {"value": "btn--neutral", "label": "文字の色"},
        {"value": "btn--black", "label": "黒色"},
        {"value": "btn--white", "label": "白色"}
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "高さ",
      "default": "three-fifty-height-hero",
      "options": [
        { "value": "screen-height-one-half", "label": "画面の1/2"},
        { "value": "screen-height-one-third", "label": "画面の1/3"},
        { "value": "five-fifty-height-hero ", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" },
        { "value": "three-fifty-height-hero", "label": "350px" },
        { "value": "two-fifty-height-hero", "label": "250px" },
        { "value": "image-height", "label": "オリジナル画像" }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "幅",
      "default": "default",
      "options": [
        { "value": "full", "label": "フル" },
        { "value": "default", "label": "デフォルト" }
      ]
    },
    {
      "type": "header",
      "content": "背景"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "画像"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "位置",
      "default": "center-center",
      "options": [
        { "label": "上", "value": "center-top" },
        { "label": "右", "value": "right-center" },
        { "label": "中央", "value": "center-center" },
        { "label": "左", "value": "left-center" },
        { "label": "下", "value": "center-bottom" }
      ]
    },
    {
      "type": "header",
      "content": "透過"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "透過",
      "info": "文字を読みやすくするために、コントラストを上げる",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 0
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "オーバーレイの色",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "ニュースレター"
    }
  ]
}
{% endschema %}
