<!-- /sections/section-logo-list.liquid -->

{%- assign heading = section.settings.title -%}
{%- assign logo_opacity_default = section.settings.logo_opacity | default: 100 -%}
{% assign logo_opacity = logo_opacity_default | times: 0.01 %}
<style>
  .logos--{{ section.id }} {
    --bg: {{ section.settings.bg_color }};
    ---logo-opacity: {{ logo_opacity }};
  }
</style>

{%- assign slider_text_show = false -%}

<div class="staff staff--{{ section.id }} {{ section.settings.text_color }}" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="staff__wrapper common__inner">

      <div class="text__standard {{ section.settings.align_text }}">
        {% if heading %}
          <h2 class="h4 common-subtitle standard__heading"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="2">
            {{ heading }}
          </h2>
        {% endif %}
      </div>

      {%- if section.blocks.size > 0 -%}
        <div class="staff__list">
            {%- for block in section.blocks -%}
              {%- assign logo = block.settings.logo -%}
          <div class="staff__item">
              {%- if block.settings.description != blank -%}
                {%- assign slider_text_show = true -%}
              {%- endif -%}
                <div class="staff__image">
                  {%- if logo != blank -%}
                    <div class="logos__img lazyload fade-in"
                      style="padding-top: 100%;"
                      data-bgset="{%- render 'bgset', image: logo -%}"
                      data-sizes="auto"
                      data-parent-fit="cover"
                      data-aspectratio="{{ logo.aspect_ratio }}">
                    </div>

                    <noscript>
                      <div class="logos__img no-js-image" style="background-image: url( {{ logo | img_url: '180x' }} ); width: {{ block.settings.logo_width }}px; height: {{- block.settings.logo_width | divided_by: logo.aspect_ratio -}}px;"></div>
                    </noscript>
                  {%- else -%}
                    <div class="logos__img svg-placeholder" style="width: {{ block.settings.logo_width }}px; height: {{ block.settings.logo_width }}px;">
                      {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </div>
                <p class="staff__roll">
                  {% if block.settings.staff_roll != blank %}
                    {{ block.settings.staff_roll }}
                  {% endif %}
                </p>
                <p class="staff__name">
                  {% if block.settings.staff_name != blank %}
                    {{ block.settings.staff_name }}
                  {% endif %}
                </p>
                <p class="staff__comment">
                  {% if block.settings.staff_comment != blank %}
                    {{ block.settings.staff_comment }}
                  {% endif %}
                </p>
              </div>
            {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "スタッフ",
  "max_blocks": 25,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "スタッフ"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "テキストの色",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "白"},
        { "value": "text-dark", "label": "ダーク"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景色",
      "default": "#fafafa"
    }
  ],
  "blocks": [
    {
      "type": "logo-item",
      "name": "スタッフ",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "スタッフ"
        },
        {
          "type": "url",
          "id": "link",
          "label": "リンク"
        },
        {
          "type": "text",
          "id": "staff_roll",
          "label": "スタッフの役割"
        },
        {
          "type": "text",
          "id": "staff_name",
          "label": "スタッフの名前,"
        },
        {
          "type": "richtext",
          "id": "staff_comment",
          "label": "スタッフのコメント"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "スタッフ",
      "category": "Image",
      "blocks": [
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        },
        {
          "type": "logo-item"
        }
      ]
    }
  ]
}
{% endschema %}
