<!-- /sections/section-slideshow.liquid -->

{%- assign animation_anchor = '#slideshow-' | append: section.id -%}

<div class="homepage-slideshow {{ section.settings.height }} transparent__wrapper" data-section-id="{{ section.id }}" data-section-type="slideshow" data-overlay-header>
  {%- if section.blocks.size > 0 -%}
    <div id="slideshow-{{ section.id }}" class="slideshow__slider is-selected" data-slider="{{ section.id }}"{% if section.settings.transition == 'fade' %} data-fade="true"{% endif %} data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed | times: 1000 }}" data-dots="{{ section.settings.dots_style }}" data-arrows="{{ section.settings.arrows_style }}" data-set-height="true" data-slider-animate="true">
      {%- for block in section.blocks -%}
        {%- liquid
          assign overlay_opacity = block.settings.overlay_opacity | times: 0.01

          assign transparency_class = ''
          assign transparency_slide_class = ''

          if block.settings.transparent
            assign transparency_class = 'hero__content--transparent'
            assign transparency_slide_class = 'slideshow__slide--transparent'
          endif
        -%}

        <div class="slideshow__slide slideshow__slide--{{ block.id }} {{ transparency_slide_class }} wide-image {{ block.settings.text_color }} {{ section.settings.height }}" data-color="{{ block.settings.text_color }}" data-slide="{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
          {%- if block.settings.link_text == '' and block.settings.link != blank -%}
            <a href="{{ block.settings.link }}">
          {%- endif -%}

          <div class="hero__content__wrapper {{ block.settings.flex_align }} {{ transparency_class }}">
            <div class="hero__content">
              {%- unless block.settings.title == '' -%}
                <h1 class="hero__title"
                  data-aos="hero"
                  data-anchor="{{ animation_anchor }}"
                  data-aos-order="1">
                  {{ block.settings.title | escape }}
                </h1>
              {%- endunless -%}

              {%- unless block.settings.description == '' -%}
                <p class="hero__description h5--body"
                  data-aos="hero"
                  data-anchor="{{ animation_anchor }}"
                  data-aos-order="2">
                  {{ block.settings.description }}
                </p>
              {%- endunless -%}

              {%- unless block.settings.link_text == '' -%}
                <a class="{{ block.settings.button_style }} {{ block.settings.button_color }}"
                  href="{{ block.settings.link }}"
                  data-aos="hero"
                  data-anchor="{{ animation_anchor }}"
                  data-aos-order="3">
                  {{ block.settings.link_text | escape }}
                </a>
              {%- endunless -%}
            </div>
          </div>

          <div class="image-overlay" style="background-color:{{ block.settings.overlay_color }} !important; opacity:{{ overlay_opacity }};"></div>

          {%- assign desktop_image_modifier = '' -%}
          {%- assign mobile_image = '' -%}
          {%- if block.settings.mobile_image != blank -%}
            {%- assign desktop_image_modifier = 'desktop' -%}

            {%- capture mobile_image -%}
              {%- render 'image-background', img_object: block.settings.mobile_image, frame_height_class: section.settings.height, bg_position: block.settings.bg_position, modifier: 'mobile' -%}
            {%- endcapture -%}
          {%- endif -%}

          {%- render 'image-background', img_object: block.settings.image, frame_height_class: section.settings.height, bg_position: block.settings.bg_position, modifier: desktop_image_modifier -%}

          {{ mobile_image }}

          {%- if block.settings.link_text == '' and block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  {%- if section.blocks.size == 0 -%}
    <div class="slideshow__slide {{ section.settings.height }}">
      <div class="text-center vertical-align">{{ 'home_page.onboarding.no_content' | t }}</div>
      <div class="image-overlay" style="background-color:{{ block.settings.overlay_color }} !important; opacity:0.25;"></div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "スライドショー",
  "class": "section-fullscreen",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "height",
      "label": "高さ",
      "default": "screen-height-three-quarters",
      "options": [
        { "value": "screen-height-full", "label": "画面いっぱい"},
        { "value": "screen-height-three-quarters", "label": "画面の3/4"},
        { "value": "screen-height-two-thirds", "label": "画面の2/3"},
        { "value": "screen-height-one-half", "label": "画面の1/2"},
        { "value": "screen-height-one-third", "label": "画面の1/3"},
        { "value": "seven-fifty-height-hero", "label": "750px" },
        { "value": "sixty-fifty-height-hero", "label": "650px" },
        { "value": "five-fifty-height-hero ", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" },
        { "value": "image-height", "label": "オリジナル画像" }
      ]
    },
    {
      "type": "select",
      "id": "transition",
      "label": "トランジション",
      "default": "slide",
      "options": [
        { "label": "スライダー", "value": "slide" },
        { "label": "フェイド", "value": "fade" }
      ]
    },
    {
      "type": "checkbox",
      "id": "arrows_style",
      "label": "矢印を表示する",
      "default": true
    },
    {
      "type": "select",
      "id": "dots_style",
      "label": "ドットを表示する",
      "default": "hidden",
      "options": [
        { "value": "hidden", "label": "Hidden"},
        { "value": "circle", "label": "Circle"},
        { "value": "line", "label": "Line"}
      ]
    },
    {
      "type": "header",
      "content": "自動再生について"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "自動でスライドを有効にする",
      "default": false
    },
    {
      "type":    "range",
      "id":      "autoplay_speed",
      "min":     4,
      "max":     15,
      "step":    1,
      "unit":    "sec",
      "label":   "スライドまでの時間",
      "default": 8
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "スライド",
      "settings": [
        {
          "type": "header",
          "content": "画像"
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": "位置",
          "default": "center-center",
          "options": [
            { "label": "上", "value": "center-top" },
            { "label": "右", "value": "right-center" },
            { "label": "中央", "value": "center-center" },
            { "label": "左", "value": "left-center" },
            { "label": "下", "value": "center-bottom" }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像",
          "info": "他のスライドとサイズを合わせる"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "モバイル用画像",
          "info": "他のスライドとサイズを合わせる"
        },
        {
          "type": "header",
          "content": "オーバーレイ"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "透過",
          "info": "文字を読みやすくするために、コントラストを上げる",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 5,
          "default":0
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "オーバーレイの色",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "テキスト"
        },
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "画像スライド"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "サブ見出し",
          "default": "画像でブランドのストーリーを伝える。"
        },
        {
          "type": "select",
          "id": "flex_align",
          "label": "ブロックの位置",
          "default": "align--middle-center",
          "options": [
            { "value": "align--top-left", "label": "上-左"},
            { "value": "align--top-center", "label": "上-中央"},
            { "value": "align--top-right", "label": "上-右"},
            { "value": "align--middle-left", "label": "中央-左"},
            { "value": "align--middle-center", "label": "中央-中央"},
            { "value": "align--middle-right", "label": "中央-右"},
            { "value": "align--bottom-left", "label": "下-左"},
            { "value": "align--bottom-center", "label": "下-中央"},
            { "value": "align--bottom-right", "label": "下-右"}
          ]
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "文字の色",
          "default": "text-light",
          "options": [
            { "value": "text-light", "label": "白"},
            { "value": "text-dark", "label": "ダーク"}
          ]
        },
        {
          "type": "checkbox",
          "id": "transparent",
          "label": "背景を透過する",
          "default": true
        },
        {
          "type": "header",
          "content": "ボタン"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "テキスト",
          "default": "商品見る",
          "info": "画像全体をリンクする場合は空白にする"
        },
        {
          "type": "url",
          "id": "link",
          "label": "リンク"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "色",
          "default": "btn--white",
          "options": [
            {"value": "btn--primary", "label": "メインアクセント色"},
            {"value": "btn--secondary", "label": "サブアクセント色"},
            {"value": "btn--link", "label": "リンクの色"},
            {"value": "btn--neutral", "label": "文字の色"},
            {"value": "btn--black", "label": "黒色"},
            {"value": "btn--white", "label": "白色"}
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "スタイル",
          "default": "hero__btn btn btn--large btn--outline caps",
          "options": [
            {"value": "caps--large", "label": "文字のみを表示"},
            {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
            {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
            {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
            {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
          ]
        }
      ]
    }
  ],
  "presets": [{
    "name": "スライドショー",
    "category": "Image",
    "settings": {
      "height": "screen-height-two-thirds"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
