<!-- /sections/section-map.liquid -->

{% assign display_map = false %}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {% assign display_map = true %}
{%- endif -%}

{%- if section.settings.image -%}
  {%- assign img_object = section.settings.image -%}
  {%- assign bg_position = section.settings.bg_position -%}
{%- else -%}
  {%- assign img_object = 'blank.svg' | asset_url -%}
{%- endif -%}

{%- assign animation_anchor = '#map--' | append: section.id -%}

<div class="index-map map-section grid--full homepage-columns js-overflow-container {{ section.settings.height }}{% if display_map %} map-section--display-map{% endif %} {% if section.settings.height == 'image-height' and section.settings.image == blank %} auto-height{% endif %}"
  id="map--{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="map"
  data-zoom="{{ section.settings.zoom }}"
  data-style="{{ section.settings.style }}"
  data-address="{{ section.settings.map_address | escape }}"
  data-latlong-correction="{{ section.settings.enable_latlong }}"
  data-lat="{{ section.settings.lat }}"
  data-long="{{ section.settings.long }}"
  data-api-key="{{ section.settings.api_key }}">

  <div class="grid__item large-up--one-third medium--one-half column__block {{ section.settings.text_color }}" style="background-color:{{ section.settings.bg_color }};" {{ block.shopify_attributes }}>
    <div class="flex--centered">
      <div class="text-center js-overflow-content">
        {% if section.settings.title != blank %}
          <h2 class="h4 map__heading"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="1">
            {{ section.settings.title | escape }}
          </h2>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte map__text"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="2">
            <span>{{ section.settings.address }}</span>
          </div>
        {% endif %}
        {% if section.settings.button != blank and section.settings.map_address != blank %}
          <p data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="3">
            <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" rel="noopener" target="_blank" class="btn btn--outline btn--neutral btn--input hero__btn caps">
              {{ section.settings.button | escape }}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="map-section__content map-section__background-wrapper grid__item large-up--two-thirds medium--one-half column__block wide-image">
    {% unless section.settings.height == 'image-height' %}
      <div class="map-section__image">
        <div class="background-size-cover lazyload" style="background-position: {{ bg_position | replace: '-', ' ' }};" data-bgset="{% render 'bgset', image: img_object %}"></div>
      </div>
      <noscript>
        <div class="background-size-cover" style="background-image: url('{% if section.settings.image != blank %}{{ img_object | img_url: '1024x' }}{% else %}{{ img_object }}{% endif %}');"></div>
      </noscript>
    {% else %}
      <div class="map-section__image">
        {% if section.settings.image != blank %}
          {% assign img_url = img_object | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload {% if section.settings.image == blank %} image-placeholder{% endif %}"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="{{ img_url }}"
            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="{{ img_object.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ section.settings.title | strip_html | escape }}">
          <noscript>
            <img src="{{ img_object | img_url: '1024x' }}" alt="{{ section.settings.title | strip_html | escape }}">
          </noscript>
        {% else %}
          <div class="background-size-cover lazyload" style="background-position: {{ bg_position | replace: '-', ' ' }};" data-bgset="{% render 'bgset', image: img_object %}"></div>
          <noscript>
            <div class="background-size-cover" style="background-image: url('{{ img_object }}');"></div>
          </noscript>
        {% endif %}
      </div>
    {% endunless %}

    {% if display_map %}
      <div class="map-section__container {{ section.settings.height }}"
           data-map-container
           id="Map-{{ section.id }}">
      </div>
    {% endif %}
  </div>

</div>


{% schema %}
  {
    "name": "地図",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "height",
        "label": "高さ",
        "default": "screen-height-one-half",
        "options": [
          { "value": "screen-height-full", "label": "画面いっぱい"},
          { "value": "screen-height-three-quarters", "label": "画面の3/4"},
          { "value": "screen-height-two-thirds", "label": "画面の2/3"},
          { "value": "screen-height-one-half", "label": "画面の1/2"},
          { "value": "screen-height-one-third", "label": "画面の1/3"},
          { "value": "seven-fifty-height-hero", "label": "750px" },
          { "value": "sixty-fifty-height-hero", "label": "650px" },
          { "value": "five-fifty-height-hero ", "label": "550px" },
          { "value": "four-fifty-height-hero", "label": "450px" },
          { "value": "image-height", "label": "オリジナル画像" }
        ]
      },
      {
        "type": "header",
        "content": "住所情報"
      },
      {
        "type": "text",
        "id": "title",
        "label": "見出し",
        "default": "Map"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "住所と営業時間",
        "default": "<p>123 Fake St.<br>Vancouver, Canada</p><p>Mon - Fri, 10am - 9pm<br>Weekends, 11am - 4pm</p>"
      },
      {
        "type": "text",
        "id": "button",
        "label": "地図のリンク",
        "default": "Directions"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "テキストの色",
        "default": "text-dark",
        "options": [
          { "value": "text-light", "label": "白"},
          { "value": "text-dark", "label": "ダーク"}
        ]
      },
      {
        "id": "bg_color",
        "type": "color",
        "label": "背景色",
        "default": "#FBFBFB"
      },
      {
        "type": "header",
        "content": "地図"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "[Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key)を登録する必要があります。"
      },
      {
        "id": "map_address",
        "type": "text",
        "label": "地図の住所",
        "info": "Googleマップはこの住所から緯度・経度を取得します",
        "default": "404 Beach Avenue, Vancouver, BC"
      },
      {
        "type": "range",
        "id": "zoom",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "ズーム",
        "info":"低レベルは広い範囲をカバーし、高レベルは狭い範囲をカバーします",
        "default": 11
      },
      {
        "type": "select",
        "id": "style",
        "label": "マップスタイル",
        "default": "light",
        "options": [
          { "value": "default", "label": "デフォルト" },
          { "value": "light", "label": "ミニマル"},
          { "value": "white_label", "label": "ライト"},
          { "value": "dark_label", "label": "ダーク"}
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "画像",
        "info": "地図が読み込まれていない場合に表示される"
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "位置",
        "default": "center-center",
        "options": [
          { "label": "上", "value": "center-top" },
          { "label": "右", "value": "right-center" },
          { "label": "中央", "value": "center-center" },
          { "label": "左", "value": "left-center" },
          { "label": "下", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "位置補正"
      },
      {
        "type": "paragraph",
        "content": "Googleが住所の位置を正しく表示していない場合、ピンポジションを修正します"
      },
      {
          "type": "checkbox",
          "id": "enable_latlong",
          "label": "位置補正を有効にする",
          "default": false
      },
      {
        "type": "text",
        "id": "lat",
        "label": "緯度",
        "info": "例: 49.281670"
      },
      {
        "type": "text",
        "id": "long",
        "label": "経度",
        "info": "例: -123.139640"
      }
    ],
    "presets": [
      {
        "name": "地図",
        "category": "画像"
      }
    ]
  }
{% endschema %}
