<!-- /sections/split-hero.liquid -->

{% comment %} Colors {% endcomment %}
{%- unless section.settings.overlay_color == blank -%}
  {%- assign overlayColor = section.settings.overlay_color -%}
{%- else -%}
  {%- assign overlayColor = 'none' -%}
{%- endunless -%}
{%- assign overlayOpacity = section.settings.overlay_opacity | prepend: '.' -%}
{%- assign transparency_class = '' -%}
{%- if section.settings.transparent -%}
  {%- assign transparency_class = 'hero__content--transparent' -%}
{%- endif -%}

{%- assign animation_anchor = '#split-hero--' | append: section.id -%}

<section id="split-hero--{{ section.id }}">
  <div data-overlay-header class="split-hero js-overflow-container {{ section.settings.image_height }} {{ section.settings.text_color }}" data-mobile="{{ section.settings.mobile_layout }}">
    <div class="split-hero__half split-hero__half--left">
      {% render 'split-hero-image', image: section.settings.image_desktop_left, bg_position: section.settings.bg_position_left %}
    </div>
    <div class="split-hero__half split-hero__half--right">
      {% render 'split-hero-image', image: section.settings.image_desktop_right, bg_position: section.settings.bg_position_right %}
    </div>
    <div class="split-hero__overlay" data-overlay-opacity="{{ overlayOpacity }}" style="background-color: {{ overlayColor }}; opacity: {{ overlayOpacity }};"></div>
    <div class="hero__content__wrapper {{ section.settings.flex_align }} {{ transparency_class }}">
      <div class="hero__content js-overflow-content">
        {% unless section.settings.title == '' %}
          <h1 class="hero__title"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="1">
        {{ section.settings.title | escape }}</h1>{% endunless %}
        {% unless section.settings.description == '' %}
          <p class="hero__description h5--body"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="2">
            {{ section.settings.description }}
          </p>
        {% endunless %}
        {% unless section.settings.link_text == '' %}
          <a class="{{ section.settings.button_style }} {{ section.settings.button_color }}"
            href="{{ section.settings.link }}"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="3">
          {{ section.settings.link_text | escape }}
          </a>
        {% endunless %}
      </div>

      {% if section.settings.link_text == blank and section.settings.link != blank %}
        <a href="{{ section.settings.link }}" class="hero__content__link"></a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
  "name": "分割画像",
  "class": "header--full",
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "label": "高さ",
      "default": "screen-height-full",
      "options": [
        { "value": "screen-height-full", "label": "画面いっぱい"},
        { "value": "screen-height-three-quarters", "label": "画面の3/4"},
        { "value": "screen-height-two-thirds", "label": "画面の2/3"},
        { "value": "screen-height-one-half", "label": "画面の1/2"},
        { "value": "seven-fifty-height-hero", "label": "750px" },
        { "value": "sixty-fifty-height-hero", "label": "650px" },
        { "value": "five-fifty-height-hero ", "label": "550px" },
        { "value": "four-fifty-height-hero", "label": "450px" }
      ]
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "モバイルレイアウト",
      "default": "stacked",
      "options": [
        { "label": "インライン", "value": "inline" },
        { "label": "スタック", "value": "stacked" }
      ]
    },
    {
      "type": "header",
      "content": "画像"
    },
    {
      "type": "image_picker",
      "id": "image_desktop_left",
      "label": "左側の画像"
    },
    {
      "type": "select",
      "id": "bg_position_left",
      "label": "左側の画像の位置",
      "default": "center-center",
      "options": [
        { "label": "上", "value": "center-top" },
        { "label": "右", "value": "right-center" },
        { "label": "中央", "value": "center-center" },
        { "label": "左", "value": "left-center" },
        { "label": "下", "value": "center-bottom" }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_desktop_right",
      "label": "右側の画像"
    },
    {
      "type": "select",
      "id": "bg_position_right",
      "label": "右側の画像の位置",
      "default": "center-center",
      "options": [
        { "label": "上", "value": "center-top" },
        { "label": "右", "value": "right-center" },
        { "label": "中央", "value": "center-center" },
        { "label": "左", "value": "left-center" },
        { "label": "下", "value": "center-bottom" }
      ]
    },
    {
      "type": "header",
      "content": "オーバーレイ"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "色",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "透過",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "テキスト"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "分割画像"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "サブ見出し",
      "default": "画像でブランドのストーリーを伝える。"
    },
    {
      "type": "select",
      "id": "flex_align",
      "label": "ブロックの位置",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "上-左"},
        { "value": "align--top-center", "label": "上-中央"},
        { "value": "align--top-right", "label": "上-右"},
        { "value": "align--middle-left", "label": "中央-左"},
        { "value": "align--middle-center", "label": "中央-中央"},
        { "value": "align--middle-right", "label": "中央-右"},
        { "value": "align--bottom-left", "label": "下-左"},
        { "value": "align--bottom-center", "label": "下-中央"},
        { "value": "align--bottom-right", "label": "下-右"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        { "value": "text-light", "label": "White"},
        { "value": "text-dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "背景を透過する",
      "default": true
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Text",
      "default": "View products"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
            {"value": "btn--primary", "label": "メインアクセント色"},
            {"value": "btn--secondary", "label": "サブアクセント色"},
            {"value": "btn--link", "label": "リンクの色"},
            {"value": "btn--neutral", "label": "文字の色"},
            {"value": "btn--black", "label": "黒色"},
            {"value": "btn--white", "label": "白色"}
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "hero__btn btn btn--large btn--outline caps",
      "options": [
        {"value": "caps--large", "label": "文字のみを表示"},
        {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
        {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
        {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
        {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
      ]
    }
  ],
  "presets": [
    {
      "name": "分割画像",
      "category": "Image"
    }
  ]
}
{% endschema %}
