<!-- /sections/section-text-row.liquid -->

{%- assign text_alignment = section.settings.text_alignment -%}
{%- assign bg_color = section.settings.bg_color -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign grid_strings = 'large-up--one-half large-up--push-one-quarter medium--one-half medium--push-one-quarter small--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_strings = 'large-up--one-half medium--one-half small--one-whole' -%}
  {%- when 3 -%}
    {%- assign grid_strings = 'large-up--one-third medium--one-third small--one-whole' -%}
  {%- else -%}
    {%- assign grid_strings = 'large-up--one-quarter medium--one-half small--one-whole' -%}
{%- endcase -%}

{%- assign animation_anchor = '#text-row--' | append: section.id -%}

<div class="text-row {{ section.settings.text_color }} {{ section.settings.height }}" id="text-row--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="text-row" data-text-alignment="{{ text_alignment }}" style="background-color: {{ bg_color }};">
  <div class="wrapper--columns {{ section.settings.icon_alignment }} {{ section.settings.icon_size }}">
    <div class="grid grid--uniform">

      {%- if section.blocks.size -%}
        {%- for block in section.blocks -%}
          {%- assign icon_words = block.settings.icon | split: ' ' -%}
          {%- capture icon -%}{%- for word in icon_words -%}{%- unless forloop.index == 1 -%}-{%- endunless -%}{{ word | downcase }}{%- endfor -%}{%- endcapture -%}
            <div class="grid__item {{ grid_strings }}" {{ block.shopify_attributes }}>
              <div class="icon__column">
                <style>
                  .icon__animated--{{ block.id }} {
                    --text: {{ block.settings.icon_color }};
                  }
                </style>
                {%- if block.settings.icon_alt -%}
                  <div class="icon__animated icon__animated--{{ block.id }} icon--custom lazyload"
                    data-aos="hero"
                    data-aos-delay="500"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-bgset="{%- render 'bgset', image: block.settings.icon_alt -%}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    data-aspectratio="{{ block.settings.icon_alt.aspect_ratio }}">
                  </div>
                {%- else -%}
                  <div class="icon__animated icon__animated--{{ block.id }}"
                    data-aos="svg-dash"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-delay="500">
                    {% render 'animated-icon', filename: block.settings.icon_name %}
                  </div>
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.text != blank -%}
                  <div class="icon__column__text">
                    {%- if block.settings.title != blank -%}
                      <h2 class="icon__column__text__heading {{section.settings.heading_size}}"><strong>{{ block.settings.title }}</strong></h2>
                    {%- endif -%}

                    {%- if block.settings.text != blank -%}
                      <p>{{ block.settings.text }}</p>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
        {%- endfor -%}
      {%- endif -%}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "テキストカラム（アイコン）",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "label": "文字の位置",
      "default": "left",
      "options": [
        { "label": "左", "value": "left" },
        { "label": "中央", "value": "center" }
      ]
    },
    {
      "type": "select",
      "id": "icon_size",
      "label": "アイコンサイズ",
      "default": "icon--small",
      "options": [
        { "value": "icon--small", "label": "スモール" },
        { "value": "icon--large", "label": "ラージ" }
      ]
    },
    {
      "type": "select",
      "id": "icon_alignment",
      "label": "アイコンの位置",
      "default": "icon--top",
      "options": [
        { "value": "icon--top", "label": "上" },
        { "value": "icon--left", "label": "左" }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "文字の色",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "白"},
        { "value": "text-dark", "label": "ダーク"}
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "見出しの文字サイズ",
      "default": "h6",
      "options": [
        { "value": "h6", "label": "普通" },
        { "value": "h5", "label": "大きい" }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "高さ",
      "default": "margin--medium",
      "options": [
        {"value": "margin--small", "label": "スモール"},
        {"value": "margin--medium", "label": "ミディアム"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景の色",
      "default": "#fafafa"
    }
  ],
  "blocks": [
    {
      "type": "text-item",
      "name": "アイコンカラム",
      "settings": [
      {
          "type": "select",
          "id": "icon_name",
          "label": "アイコン",
          "default": "icon-award",
          "options": [
            { "value": "icon-animal", "label": "Animal" },
            { "value": "icon-award", "label": "Award" },
            { "value": "icon-basket-like", "label": "Basket like" },
            { "value": "icon-basket-return", "label": "Basket return" },
            { "value": "icon-cart-check", "label": "Cart check" },
            { "value": "icon-cart-message", "label": "Cart message" },
            { "value": "icon-chat", "label": "Chat" },
            { "value": "icon-dollar", "label": "Dollar" },
            { "value": "icon-earth", "label": "Earth" },
            { "value": "icon-email", "label": "Email" },
            { "value": "icon-leaf", "label": "Leaf" },
            { "value": "icon-lock-card", "label": "Lock card" },
            { "value": "icon-lock-shield", "label": "Lock shield" },
            { "value": "icon-lock-window", "label": "Lock window" },
            { "value": "icon-payment", "label": "Payment" },
            { "value": "icon-phone", "label": "Phone" },
            { "value": "icon-rating", "label": "Rating" },
            { "value": "icon-send", "label": "Send" },
            { "value": "icon-shipment-world", "label": "Shipment world" },
            { "value": "icon-shipment", "label": "Shipment" },
            { "value": "icon-store", "label": "Store" },
            { "value": "icon-support-headphones", "label": "Support headphones" },
            { "value": "icon-truck", "label": "Truck" },
            { "value": "icon-water", "label": "Water" }
          ]
        },
        {
          "type": "image_picker",
          "id": "icon_alt",
          "label": "代わりのアイコン/画像"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "アイコンの色",
          "default": "#545454"
        },
        {
          "type": "text",
          "id": "title",
          "label": "見出し",
          "default": "Title"
        },
        {
          "type": "html",
          "id": "text",
          "label": "テキスト",
          "default": "配送ポリシー、返品、カスタマーサービスについて詳細を共有する。"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "テキストカラム（アイコン）",
      "category": "Text",
      "blocks": [
        {
          "type": "text-item",
          "settings": {
            "title": "安全な取引",
            "icon_name": "icon-lock-card",
            "text": "取引は銀行レベルのセキュリティで処理されます。"
          }
        },
        {
          "type": "text-item",
          "settings": {
            "title": "簡易チェックアウト",
            "icon_name": "icon-basket-like",
            "text": "安全なチェックアウトは、迅速かつ簡単にご利用いただけます。"
          }
        },
        {
          "type": "text-item",
          "settings": {
            "title": "連絡を取る",
            "icon_name": "icon-chat",
            "text": "ご質問はありませんか？いつでもご連絡ください。"
          }
        }
      ]
    }
  ]
}
{% endschema %}
