<!-- /sections/section-reviews.liquid -->

<div class="reviews {{ section.settings.text_color }} {{ section.settings.text_align }}" data-section-id="{{ section.id }}" data-section-type="reviews" style="background-color: {{ section.settings.bg_color }};">


  {%- assign reviewTitle = section.settings.title -%}
  {%- assign reviewSubTitle = section.settings.description -%}

  <div class="grid__heading-holder">
    {% if reviewTitle != blank %}
    <h2 class="grid__heading text-center"
    data-aos="hero"
    data-aos-anchor="{{ animation_anchor }}"
    data-aos-order="1">{{ reviewTitle }}</h2>
    {% endif %}

    {%- if reviewSubTitle != blank -%}
    <div class="grid__description">
      {{ reviewSubTitle }}
    </div>
    {%- endif -%}
  </div>

  <div class="reviews__slider {% if section.blocks.size == 1 %}reviews__slider--with-only-one-slide{% endif %} reviews__slider--{{ section.id }}">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% assign customer_name = block.settings.title %}
        {% assign review = block.settings.review_text %}
        {% assign bio_image = block.settings.bio_image %}
        {% assign subheading = block.settings.subheading %}
        {% assign review_url = block.settings.review_url %}

        <div class="review__slide review__slide--{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="review">
            <div class="review__content">
              {% if review != blank %}
                <blockquote>
                  <span class="tesimonial__quotes">{% render 'icon-quotes' %}</span>
                  {{ review }}
                </blockquote>
              {% endif %}

              {% if customer_name != blank or review_url != blank or bio_image != blank %}
                <div class="review__author {% if bio_image == blank %}review__author--no-bio-image{% endif %}">
                  {% if bio_image != blank %}
                    <div class="review__author-bio-image lazyload" data-bgset="{% render 'bgset', image: bio_image %}"></div>
                    <noscript>
                      <div class="review__author-bio-image no-js-image" style="background-image: url( {{ bio_image | img_url: '1024x' }} )"></div>
                    </noscript>
                  {% endif %}
                  {% if customer_name != blank %}
                    <strong>{{ customer_name }}</strong>
                  {% endif %}
                  {% if subheading != blank %}
                    <span class="subheading">{{ subheading }}</span>
                  {% endif %}
                </div>
              {% endif %}

              {% if review_url != blank %}
                <div class="review__tweet-url">
                  <a href="{{ review_url }}" rel="noopener" target="_blank">
                    {{ block.settings.review_link_name }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "お客様の声",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "お客様の声"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "お客様の声の説明"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "文字の位置",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "左"
        },
        {
          "value": "text-center",
          "label": "中央"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "文字の色",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "白"},
        { "value": "text-dark", "label": "ダーク"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景の色",
      "default": "#fafafa"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "お客様の声",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content":"お客様の声"
        },
        {
          "type": "text",
          "id": "title",
          "label": "名前",
          "default": "山田 太郎"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "サブ見出し",
          "default":"30代 男性"
        },
        {
          "type": "richtext",
          "id": "review_text",
          "label": "コメント",
          "default": "<p>このテキストは、お客様のレビューを紹介するために使用します。 優れたレビューは、正直で、顧客の悩みを代弁してくれます。</p>"
        },
        {
          "type": "image_picker",
          "id": "bio_image",
          "label": "画像"
        },
        {
          "type": "header",
          "content": "レビューリンク"
        },
        {
          "type": "url",
          "id": "review_url",
          "label": "リンク"
        },
        {
          "type": "text",
          "id": "review_link_name",
          "label": "リンクの名前"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "お客様の声",
      "category": "Text",
      "blocks": [
        {
          "type": "review",
          "settings": {
            "title":"山田 太郎"
          }
        },
        {
          "type": "review",
          "settings": {
            "title":"山田 花子"
          }
        }
      ]
    }
  ]
}
{% endschema %}
