<!-- /sections/section-rich-text.liquid -->
{%- assign animation_anchor = '#rte--' | append: section.id -%}

<section class="index-rte {{ section.settings.text_color }} {{ section.settings.height }}" id="rte--{{ section.id }}" style="background-color: {{ section.settings.bg_color }};" data-section-id="{{ section.id }}" data-section-type="rich-text">
  <div class="{{ section.settings.width }}">
    <div class="text__standard {{ section.settings.align_text }}">
      {% if section.settings.subheading != blank %}
        <p class="standard__subheading"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="1">
          {{ section.settings.subheading }}
        </p>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h4 standard__heading"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="2">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.text != blank %}
        {% assign font_size_class = section.settings.text_size | plus: 1 | prepend: 'font--' %}
        {% assign text_columns_class = section.settings.text_columns | prepend: 'columns--' %}
        <div class="standard__rte {{ font_size_class }} {{ text_columns_class }}"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="3">
          {{ section.settings.text }}
        </div>
      {% endif %}
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_url }}"
          class="standard__cta {{ section.settings.button_style }} {{ section.settings.button_color }}"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="4">
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "リッチテキスト",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "サブ見出し",
      "default": "Introducing"
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "Rich text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "テキスト",
      "default": "<p>ブランドに関する情報をお客様と共有するためのテキストです。商品の説明、お知らせ、来店されたお客様の歓迎など。</p>"
    },
    {
      "type":  "range",
      "id":    "text_size",
      "label": "文字サイズ",
      "min":    1,
      "max":    5,
      "step":   1,
      "default":2
    },
    {
      "type":  "range",
      "id":    "text_columns",
      "label": "カラム",
      "min":    1,
      "max":    3,
      "step":   1,
      "default":1,
      "info": "デスクトップにのみ適用"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "文字の位置",
      "default": "text-left",
      "options": [
        {"value": "text-left","label": "左"},
        {"value": "text-center","label": "中央"}
      ]
    },
    {
      "type": "header",
      "content": "ボタン"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"テキスト",
      "default":"Learn more"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"リンク"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "色",
      "default": "btn--neutral",
      "options": [
        {"value": "btn--primary", "label": "メインアクセント色"},
        {"value": "btn--secondary", "label": "サブアクセント色"},
        {"value": "btn--link", "label": "リンクの色"},
        {"value": "btn--neutral", "label": "文字の色"},
        {"value": "btn--black", "label": "黒色"},
        {"value": "btn--white", "label": "白色"}
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "スタイル",
      "default": "caps--large",
      "options": [
            {"value": "caps--large", "label": "文字のみを表示"},
            {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
            {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
            {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
            {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
      ]
    },
    {
      "type": "header",
      "content": "スタイル"
    },
    {
      "type": "select",
      "id": "height",
      "label": "高さ",
      "default": "margin--medium",
      "options": [
        {"value": "margin--small", "label": "スモール"},
        {"value": "margin--medium", "label": "ミディアム"},
        {"value": "margin--large", "label": "ラージ"}
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "幅",
      "default": "wrapper",
      "options": [
        {"value": "wrapper", "label": "ノーマル"},
        {"value": "wrapper--narrow", "label": "狭い"},
        {"value": "wrapper--full", "label": "広い"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "文字の色",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "白"},
        { "value": "text-dark", "label": "ダーク"}
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景色",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "リッチテキスト",
      "category": "Text"
    }
  ]
}
{% endschema %}
