<!-- /sections/text-promo.liquid -->

{%- liquid
  assign classes = ""
  if section.settings.border
    assign classes = classes | append: " text-promo-inner--border"
  endif

  if section.settings.image != blank
    assign classes = classes | append: " lazyload"
  endif
-%}

<section class="text-promo {{ section.settings.width }}" data-section-type="promo" data-section-id="{{ section.id }}">
  <div class="text-promo-inner {{ section.settings.text_color }} {{ classes }}"
    {% if section.settings.image != blank %}
      style="background-position: {{ section.settings.bg_position | replace: '-', ' ' }};"
      data-bgset="{% render 'bgset', image: section.settings.image %}"
      role="img"
      aria-label="{{ image.alt | strip_html | escape }}"
    {% else %}
      style="background-color: {{ section.settings.bg_color }};"
    {% endif %}>
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when '@app' -%}
          <div class="standard__app" {{ block.shopify_attributes }}>
            {% render block %}
          </div>
        {%- when 'button' -%}
          <a href="{{ block.settings.button_url }}"
            class="standard__cta {{ block.settings.button_style }} {{ block.settings.button_color }}" {{ block.shopify_attributes }}>
            {{ block.settings.button_text }}
          </a>
        {%- when 'heading' -%}
          <h2 class="h4 standard__heading" {{ block.shopify_attributes }}>
            {{ block.settings.title }}
          </h2>
        {%- when 'text' -%}
          <div class="standard__rte" {{ block.shopify_attributes }}>
            {{ block.settings.content }}
          </div>
      {% endcase %}
    {% endfor %}

    {% if section.settings.image != blank %}
      {% assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 %}
      <div class="image-overlay" style="background-color:{{ section.settings.overlay_color }} !important; opacity:{{ overlay_opacity }};"></div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "テキストプロモーション",
    "settings": [
      {
        "type": "checkbox",
        "id": "border",
        "label": "ボーダーを表示する",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "背景色",
        "default": "#f7f7f7"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "文字の色",
        "default": "text-dark",
        "options": [
          { "value": "text-light", "label": "白"},
          { "value": "text-dark", "label": "ダーク"}
        ]
      },
      {
        "type": "select",
        "id": "width",
        "label": "幅",
        "default": "wrapper--full",
        "options": [
          {"value": "wrapper", "label": "ノーマル"},
          {"value": "wrapper--narrow", "label": "狭い"},
          {"value": "wrapper--full", "label": "広い"},
          {"value": "", "label": "フル"}
        ]
      },
      {
        "type": "header",
        "content": "背景画像 (オプション)"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "画像"
      },
      {
        "type": "select",
        "id": "bg_position",
        "label": "位置",
        "default": "center-center",
        "options": [
          { "label": "上", "value": "center-top" },
          { "label": "右", "value": "right-center" },
          { "label": "中央", "value": "center-center" },
          { "label": "左", "value": "left-center" },
          { "label": "下", "value": "center-bottom" }
        ]
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "オーバーレイ",
        "info": "文字を読みやすくするために、コントラストを上げる",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "default":0
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "オーバーレイの色",
        "default": "#000"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "button",
        "name": "ボタン",
        "settings": [
          {
            "type":"text",
            "id":"button_text",
            "label":"テキスト",
            "default":"Shop now"
          },
          {
            "type":"url",
            "id":"button_url",
            "label":"リンク"
          },
          {
            "type": "select",
            "id": "button_color",
            "label": "色",
            "default": "btn--neutral",
            "options": [
              {"value": "btn--primary", "label": "メインアクセント色"},
              {"value": "btn--secondary", "label": "サブアクセント色"},
              {"value": "btn--link", "label": "リンクの色"},
              {"value": "btn--neutral", "label": "文字の色"},
              {"value": "btn--black", "label": "黒色"},
              {"value": "btn--white", "label": "白色"}
            ]
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "スタイル",
            "default": "caps--large",
            "options": [
              {"value": "caps--large", "label": "文字のみを表示"},
              {"value": "hero__btn btn btn--input caps", "label": "小さいボタン"},
              {"value": "hero__btn btn btn--large caps", "label": "大きいボタン"},
              {"value": "hero__btn btn btn--input btn--outline caps", "label": "小さいボタン（枠あり）"},
              {"value": "hero__btn btn btn--large btn--outline caps", "label": "大きいボタン（枠あり）"}
            ]
          }
        ]
      },
      {
        "type": "heading",
        "name": "見出し",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "見出し",
            "default": "テキストプロモーション"
          }
        ]
      },
      {
        "type": "text",
        "name": "テキスト",
        "settings": [
          {
            "type": "textarea",
            "id": "content",
            "label": "テキスト",
            "default": "プロモーションやセールを宣伝する"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "テキスト",
        "name": "テキストプロモーション",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}
